<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SynoMusic</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAlt02</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt02</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt02</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt03</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt03</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt03</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt04</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt04</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt04</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt05</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt05</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt05</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt06</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt06</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt06</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt07</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt07</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt07</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt08</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt08</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt08</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt09</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt09</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt09</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconAlt10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt10</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt10</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>SynoMusic 需要访问局域网以连接你的群晖 NAS 上的 Audio Station。</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>BrandBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
